In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Warrington,GB,2022-01-27 00:06:22,53.3925,-2.5802,50.90,87,100,7.00
1,1,Acarau,BR,2022-01-27 00:01:25,-2.8856,-40.1200,78.01,86,100,10.16
2,2,Busselton,AU,2022-01-27 00:06:22,-33.6500,115.3333,66.04,63,1,13.78
3,3,Avarua,CK,2022-01-27 00:06:22,-21.2078,-159.7750,82.45,89,75,13.80
4,4,Dikson,RU,2022-01-27 00:06:23,73.5069,80.5464,13.14,93,100,28.10

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Acarau,BR,2022-01-27 00:01:25,-2.8856,-40.1200,78.01,86,100,10.16
3,3,Avarua,CK,2022-01-27 00:06:22,-21.2078,-159.7750,82.45,89,75,13.80
13,13,Bengkulu,ID,2022-01-27 00:06:27,-3.8004,102.2655,77.27,84,100,3.53
16,16,Butaritari,KI,2022-01-27 00:02:11,3.0707,172.7902,81.97,78,33,13.44
18,18,Hilo,US,2022-01-27 00:02:15,19.7297,-155.0900,77.25,78,42,3.00
21,21,Charters Towers,AU,2022-01-27 00:06:29,-20.1000,146.2667,76.87,82,100,8.10
23,23,Trairi,BR,2022-01-27 00:06:30,-3.2778,-39.2689,77.77,88,100,7.94
31,31,Wau,SS,2022-01-27 00:06:32,7.7029,27.9953,78.49,19,99,9.95
32,32,Bambous Virieux,MU,2022-01-27 00:06:32,-20.3428,57.7575,76.17,71,61,9.64
34,34,Cap Malheureux,MU,2022-01-27 00:06:33,-19.9842,57.6142,77.43,66,16,9.78

In [12]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Acarau      BR     78.01  -2.8856  -40.1200
3            Avarua      CK     82.45 -21.2078 -159.7750
13         Bengkulu      ID     77.27  -3.8004  102.2655
16       Butaritari      KI     81.97   3.0707  172.7902
18             Hilo      US     77.25  19.7297 -155.0900
21  Charters Towers      AU     76.87 -20.1000  146.2667
23           Trairi      BR     77.77  -3.2778  -39.2689
31              Wau      SS     78.49   7.7029   27.9953
32  Bambous Virieux      MU     76.17 -20.3428   57.7575
34   Cap Malheureux      MU     77.43 -19.9842   57.6142

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Acarau,BR,78.01,-2.8856,-40.1200,castelo pizzaria
3,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
13,Bengkulu,ID,77.27,-3.8004,102.2655,Grage Hotel Bengkulu
16,Butaritari,KI,81.97,3.0707,172.7902,Isles Sunset Lodge
18,Hilo,US,77.25,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Charters Towers,AU,76.87,-20.1000,146.2667,Cattleman's Rest Motor Inn
23,Trairi,BR,77.77,-3.2778,-39.2689,janelas do mar
31,Wau,SS,78.49,7.7029,27.9953,Universal Gab Hotel
32,Bambous Virieux,MU,76.17,-20.3428,57.7575,Casa Tia Villa
34,Cap Malheureux,MU,77.43,-19.9842,57.6142,Pereybere Hotel & Spa

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""